<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlEventos</servlet-name>
        <servlet-class>Controller.controlEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlCreditos</servlet-name>
        <servlet-class>Controller.controlCreditos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preModficarEliminarEventos</servlet-name>
        <servlet-class>adminController.preModficarEliminarEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preValidarEvidencias</servlet-name>
        <servlet-class>adminController.preValidarEvidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postValidarEvidencias</servlet-name>
        <servlet-class>adminController.postValidarEvidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preSubirEvidencias</servlet-name>
        <servlet-class>alumnoController.preSubirEvidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postSubirEvidencias</servlet-name>
        <servlet-class>alumnoController.postSubirEvidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preVerEventos</servlet-name>
        <servlet-class>alumnoController.preVerEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postVerEventos</servlet-name>
        <servlet-class>alumnoController.postVerEventos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preVerEvidenciasCreditos</servlet-name>
        <servlet-class>alumnoController.preVerEvidenciasCreditos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postVerEvidenciasCreditos</servlet-name>
        <servlet-class>alumnoController.postVerEvidenciasCreditos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preCrearTalleres</servlet-name>
        <servlet-class>adminController.preCrearTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCrearTalleres</servlet-name>
        <servlet-class>adminController.postCrearTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preValidarEliminarTalleres</servlet-name>
        <servlet-class>adminController.preModificarEliminarTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postModificarEliminarTalleres</servlet-name>
        <servlet-class>adminController.postModificarEliminarTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preValidarPagos</servlet-name>
        <servlet-class>adminController.preValidarPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postValidarPagos</servlet-name>
        <servlet-class>adminController.postValidarPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prePagos</servlet-name>
        <servlet-class>alumnoController.prePagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postPagos</servlet-name>
        <servlet-class>alumnoController.postPagos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preVerTalleres</servlet-name>
        <servlet-class>alumnoController.preVerTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preListaTalleres</servlet-name>
        <servlet-class>docenteController.preListaTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postListaTalleres</servlet-name>
        <servlet-class>docenteController.postListaTalleres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postCrearEventos</servlet-name>
        <servlet-class>adminController.postCrearEventos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlEventos</servlet-name>
        <url-pattern>/controlEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlCreditos</servlet-name>
        <url-pattern>/controlCreditos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preModficarEliminarEventos</servlet-name>
        <url-pattern>/preModficarEliminarEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preValidarEvidencias</servlet-name>
        <url-pattern>/preValidarEvidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postValidarEvidencias</servlet-name>
        <url-pattern>/postValidarEvidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preSubirEvidencias</servlet-name>
        <url-pattern>/preSubirEvidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postSubirEvidencias</servlet-name>
        <url-pattern>/postSubirEvidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preVerEventos</servlet-name>
        <url-pattern>/preVerEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postVerEventos</servlet-name>
        <url-pattern>/postVerEventos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preVerEvidenciasCreditos</servlet-name>
        <url-pattern>/preVerEvidenciasCreditos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postVerEvidenciasCreditos</servlet-name>
        <url-pattern>/postVerEvidenciasCreditos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preCrearTalleres</servlet-name>
        <url-pattern>/preCrearTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCrearTalleres</servlet-name>
        <url-pattern>/postCrearTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preValidarEliminarTalleres</servlet-name>
        <url-pattern>/preValidarEliminarTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postModificarEliminarTalleres</servlet-name>
        <url-pattern>/postModificarEliminarTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preValidarPagos</servlet-name>
        <url-pattern>/preValidarPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postValidarPagos</servlet-name>
        <url-pattern>/postValidarPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prePagos</servlet-name>
        <url-pattern>/prePagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postPagos</servlet-name>
        <url-pattern>/postPagos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preVerTalleres</servlet-name>
        <url-pattern>/preVerTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preListaTalleres</servlet-name>
        <url-pattern>/preListaTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postListaTalleres</servlet-name>
        <url-pattern>/postListaTalleres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postCrearEventos</servlet-name>
        <url-pattern>/postCrearEventos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
